html{
    font-family: Open Sans;
    font-size: 14px;
}
body{
    margin: 0 0;
}
h2{
    font-size: 1.7rem;
    margin: 0 0;
}
h3{
    font-size: 1.5rem;
    margin: 0 0;
}
p{
    font-size: 1rem;
}
.wrapper{
    margin:0 auto;
    width: 940px;
}
.header{
    width:100%;
    margin-bottom:1.2rem;
   & > .emblem{
        width:20%;
        margin:10px 15px;
        display:inline-block;
        & > h2{
            float:right;
            margin-top: 10px;
        }
    }
    & > .navigation{
                display: flex;
                justify-content: space-around;
                & > a{
                    font-size:1.5rem;
                    color:#000;
                    text-decoration:none;
                   
                    }
                }
            
        a:hover{
                        border-bottom:1px solid #000;
    }
    .source{
        display: inline-block;
            text-align: center;
            float:right;
    vertical-align: top;
    margin-top: 1rem;
    width: 50%;
        & > form{
                & > .source__form{
                    height: 3rem;
                    width: 72%;
                }
                & > button{
                    vertical-align: top;
                    & > p{
                        width: 100%;
                        font-size: 0.9rem;
                    }
                }

        }
    }
}
.page{
    width:55%;
    display: block;
    margin: 1rem auto;
    text-align: center;
    & > p{
        font-size: 1.2rem;
        border-top: 1px solid #000;
    }
    
}
.content{
    background-color: #F2F2F2FF;
    width:60%;
    float:left;
    margin-left: 1rem;
    & > h2{
        padding-top: 10px;
        padding-left: 15px;
    }
    & > .article__horizontal{
        margin:10px 15px;
        & > .article{
            display: inline-block;
            vertical-align: top;
            width: 45%;
            padding-right:1.3rem;
            padding-bottom: 1.4rem;
            & > h3{
                & > a{
                    text-decoration: none;
                    color: #000;

                }
            }
            & > img{
                width:70%;
            } 
        }
    }
}
.sidebar{
    float:right;
    background-color: #F2F2F2FF;
    width: 30%;
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
    & > h3{
        margin:1.2rem 1rem;
    }
    & > .article__vertical{
        margin:10px 15px;
        & > .article{
            margin:1rem 1rem;
            padding-bottom: 1rem;
            & > .article__image{
                width: 65px;
            }
            & > h3{
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.footer{
    width: 100%;
    overflow: hidden;
    background-color: #F2F2F2FF;
    height: 80px;
    margin-top:10px;
    & > .footer__emblem{
        margin:1rem 1.1rem;
        display: inline-block;
        & > h2{
            padding-left: 10px;
             float: right;
            margin-top: 15px;
        }
    }
    & > ul{
        padding: 0 5px;
        list-style: none;
        float:right;
        margin: 10px 10px;
        & > li{
            padding-right: 1.2rem;
            display: inline-block;
            & > a{
                text-decoration: none;
                color:#000;
                font-size: 1.5rem;
            }
        }
    }
    a:hover{
        border-bottom: 0.1rem solid #000;
    }
}
